@use "../sass/index" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  // background-color: #00539c;
}

body::before {
  content: "";
  background-image: url("../public/paper.png");
  background-size: 100% 25%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 250ms ease;
  border: calc(1px + 0.1vw) solid $colorTwo;

  &:hover {
    background-color: $colorTwo;
    color: white;
  }
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: $paddingMain;
}

// section + section {
//   padding-top: 0;
// }

.container {
  min-height: calc(100vh - calc($paddingMain * 2));
}

.inner {
  padding: $paddingMain;
  background-color: $colorBg;
  border-radius: 1vw;
  box-shadow: $shadowMain;
}

.half {
  min-height: calc(50vh - calc($paddingMain * 2));
}

.double {
  background-color: $colorBg;
  border-radius: 1vw;
  box-shadow: $shadowMain;
  padding: calc($paddingMain / 2) $paddingMain;
}

footer {
  margin: $padding20;
  letter-spacing: $letter7;
  font-size: $text22;
  text-align: right;
}

@include md {
  .double {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}

.up {
  padding-bottom: calc($paddingMain / 2);
}

.down {
  padding-top: calc($paddingMain / 2);
}

img,
video {
  width: 100%;
}

@include xxl {
  .container {
    min-height: auto;
  }

  .half {
    min-height: auto;
  }
}
