@use "../sass/index" as *;

.navContainer {
  @include flex("even");
  padding: calc($paddingMain / 2.5) $paddingMain;
  width: 100%;
  position: fixed;
  z-index: 10;
  @include slideBtm();
}

.navLogo {
  @include capsbold($text30);
  font-family: "Poppins", sans-serif;
  width: $paddingMain;
  // img {
  //   width: 50%;
  // }
}

.navLinks {
  @include flex("even");
  @include capsbold($text16);
  letter-spacing: $letter10;

  li + li {
    margin-left: $padding50;
  }
}

.mobile {
  width: 0;
  @include flex("col");
  align-items: flex-start;
  background-color: transparent;
  z-index: 5;
  opacity: 0;
  cursor: auto;
  border: none;

  &:hover {
    background-color: transparent;
  }

  div {
    @include flex("");
    @include capsbold(calc(0.1vw + 0.075rem));
    background-color: $colorMain;
    width: 100%;
    height: 0.75vw;
    max-height: 5px;
    transition: all 250ms ease;
  }

  div + div {
    margin-top: calc($padding10 / 1.5);
  }
}

@include xl {
  .navLinks {
    li + li {
      margin-left: $padding35;
    }
  }
}

@include lg {
  .navLinks {
    position: absolute;
    @include flex("col");
    @include capsbold($text30);
    align-items: flex-end;
    text-align: right;
    justify-content: flex-start;
    padding: calc($paddingMain * 2) $paddingMain $paddingMain;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: $colorBg;
    transition: 250ms ease;
    opacity: 0;

    a {
      display: none;
    }

    li + li {
      margin: $padding30 0 0;
    }
  }

  .mobile {
    opacity: 1;
    cursor: pointer;
    width: $padding50;
  }

  .show {
    // display: block;
    opacity: 1;

    a {
      display: block;
    }
  }

  .cross {
    div {
      width: 100%;
    }

    div:nth-child(1) {
      transform: rotate(45deg)
        translate(calc($padding10 / 2), calc(0.35rem + 0.25vw * 1.95));
    }

    div:nth-child(2) {
      transform: translateX(-1vw);
      opacity: 0;
    }

    div:nth-child(3) {
      transform: rotate(-45deg)
        translate(calc($padding10 / 2), calc(-0.35rem - 0.25vw * 1.95));
    }
  }
}

@include md {
  .mobile {
    width: $padding50;
  }
}
